body a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    color: #4D4D4D !important;
}

body a:hover {
    opacity: 0.8;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100vh;
    overflow: auto;
}

.home_page {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 89vh;
    margin: 1vh auto;
}

@media screen and (max-width: 900px) {
    .home_page {
        width: 100%;
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #4D4D4D;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.spinner {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner span {
    color: #4D4D4D;
}

.footer {
    display: none;
}

@media screen and (max-width: 800px) {
    .footer {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        height: 10vh;
    }

    .home_page {
        height: 79vh;
    }
}
